:root {
    /* definindo variáveis para usar em todo o sistema */
    --supero-primary-color: #db7035;
    --supero-second-color: #3b3934;
}

* {
    /* removendo as mergens e espaçamentos padrões */
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: var(--supero-primary-color);
    /* alterando o padrão de caixa para considerar as bordas também */
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Ubuntu, sans-serif;
}